@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    font-family: 'Patrick Hand', cursive;
    background: #f08080;
}

::-webkit-scrollbar{
    width: .5em;
}

::-webkit-scrollbar-track{
    /* background: hsl(230, 50%, 50%); */
    margin-block: .5em;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
    background: hsl(180, 30%, 25%);
    border-radius: 100vw;
}

h1{
    color: #141717;
    font-size: 40px;
}

.navbar{
    overflow: hidden;
    background: lightgoldenrodyellow;
}

.navbar a{
    float: left;
    font-size: 25px;
    color: lightcoral;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 1s;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 25px;  
    border: none;
    outline: none;
    color: lightcoral;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 1s all ease-in;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:hover {
    background-color: lightsalmon;
}

.dropdown-content {
    /* opacity: 0; */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #20b2aa;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.whole{
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-right: 330px;
}

.part-of{
    text-shadow: 2px 2px #000000;
    color: red;
}

#img1{
    width: 300px;
    height: 300px;
    border-radius: 90px;
    cursor: pointer;
    transition: 2s;
}

#img1:hover{
    box-shadow: 0 0 10px #333, 
                0 0 40px #222, 
                0 0 80px #111;
    border-radius: 130px;
}

.part-of > p{
    font-size: 45px;
}

#size{
    font-size: 30px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 20px;
    color: #cfffff;
}

ol > p{
    font-size: 25px;
}

footer{
    background: #123123;
    font-size: 25px;
    text-align: left;
    /* margin: auto; */
}

footer > p{
    color: white;
}

footer a{
    text-decoration: none;
    color: red;
    transition: .5s;
}

::selection{
    /* color: blue; */
    background: lightblue;
}

footer a:hover{
    color: whitesmoke;
    font-size: 27px;
}

footer > i{
    cursor: pointer;
}